#about {
    grid-template-columns: 7fr 3fr;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: lightsteelblue;
    border: 1px;
  }
  

#software {
    display: inline;
}

p {
    padding: 10px;
}

li {
    margin: 5px;
}


#top-left {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: right;
  padding: 5px;
  
}

#bottom-left {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: right;
padding: 5px;
display: none;
}

#top-middle { 
  display: inline;
  text-align: center;
}

#top-right {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  padding: 5px;

}

#bottom-right {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  padding: 5px;
  display: none
}
