
html {
        background-color: #e4e4e4;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline;
    background-color: lightsteelblue;
    font-size: 400%;
    padding: 10px;

  }
  
 h2 {
     display: inline;
     text-align: inline-flex;
    background-color: lightcoral;
    padding: 10px;
    margin: 10px;
    border-width: 20px;
 }

 .CSM {
   display: inline-block;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
 }

  h3 {
      display: inline;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: lightsteelblue;
    padding: 5px;
  }
  
  
  footer {
      text-align: left;
  }

  img {
    max-width: 100%;
    width: 35%;
    float: right
  }

table {
 border: 2px solid;
 margin-left: auto;
 margin-right: auto;
} 

th {
  padding: 1%;
  text-align: center;
}
td {
  border: 1px solid;
  padding: 10px;
}