
html {
        background-color: #e4e4e4;
}

h1 {
    font-family: Arial, Helvetica, sans-serif sans-serif;
    display: inline;
    background-color: lightsteelblue;
    font-size: 350%;
    padding: 10px;

  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}


 h2 {
     display: inline;
     text-align: center;
    background-color: lightcoral;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
 }

 .CSM {
   display: inline-block;
     margin-left: auto;
     margin-right: auto;
 }

  h3 {
      display: inline;
      font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: lightsteelblue;
    padding: 5px;
  }
  
  
  footer {
      text-align: left;
  }

  img {
    display: inline;
    max-width: 40%;
    width: auto;
    float: left;
  }

table {
 border: 2px solid;
 padding: 5px;
} 

th {
  text-align: center;
}

li:before { content: '\01F691'; margin-left: -20px; margin-right: 10px; } 


